body {
    height: 100vh; /* ocupa toda la pantalla */
    background-image: url(images/fondo2.jpg);
    background-size: cover; /* cubre todo, pero puede recortar */
    background-position: center center; /* siempre centrado */
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}
#title { /* INGRESAR TITULO*/
    color: white;
    font-size: 45px;
    font-family: 'Lucida Sans','Lucida Sans Regular';
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    text-size-adjust: calc();
}
#container { /* CONTAINER BOTON ENTRAR*/
    display: flex;
    justify-content: center;
    align-items: center;
}
#btEntrar{/* BOTON ENTRAR */
        color: white;
        font-size: large;
        font-weight: 500;
        margin-top: 12px;
        border-radius: 12px;
        background: transparent;
        border-color:rgb(8, 174, 224);
        transition: 0.1s ease;
}
#btEntrar:hover{

    transform: scale(1.1);
}
#loginContainer {
    text-align: center;
    margin-top: 75px;
}

#userh1 { /* USUARIO H1*/
    color:white;
    justify-content: flex-start;
    font-family: 'Lucida Sans','Lucida Sans Regular';
    margin-bottom: -15px;
    font-size: 25px ;
}
#passwordh1 { /* PASSWORD H1*/
    color:white;
    justify-content: flex-start;
    font-family: 'Lucida Sans','Lucida Sans Regular';
    margin-bottom: -15px;
    font-size: 25px;
}
#user { /* INPUT*/
    border-radius: 12px;
    border-style: solid ;
    font-size:medium;
    padding-bottom: 2px;
    background: white;
    border-color: transparent;
}
input:focus {
    
    background-color: white;
    border-color: black;
    border-width: 6px;
}
#password{ /* INPUT*/
    border-radius: 12px;
    border-style: solid;
    font-size: medium;
    padding-bottom: 2px;
    background: white;
    border-color: transparent;
}
#imgUsuario {

    width: 50px;
    transition: 0.1s ease;
}
#imgUsuario:hover{
    transform: scale(1.2);
}

#horaActual {
    color: white;
    font-size: 20px;
    font-family: 'Lucida Sans','Lucida Sans Regular';
    text-align: center;
    min-height:fit-content;
    position: fixed;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
}