body {
    height: 100vh; /* ocupa toda la pantalla */
    background-image: url(images/abstract-triangles-background.jpg);
    background-size: cover; /* cubre todo, pero puede recortar */
    background-position: center center; /* siempre centrado */
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
#title { /* INGRESAR TITULO*/
    color: white;
    font-size: 45px;
    font-family: 'Lucida Sans','Lucida Sans Regular';
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    text-size-adjust: calc();
}
#container { /* CONTAINER BOTON ENTRAR*/
    display: flex;
    justify-content: center;
    align-items: center;
}
#btEntrar{/* BOTON ENTRAR */
        color: white;
        font-size: large;
        margin-top: 12px;
        background-color: transparent;
        border-radius: 12px;
}
#loginContainer {
    text-align: center;
    margin-top: 75px;
}

#userh1 { /* USUARIO H1*/
    color:white;
    justify-content: flex-start;
    font-family: 'Lucida Sans','Lucida Sans Regular';
    margin-bottom: -15px;
    font-size: 25px ;
}
#passwordh1 { /* PASSWORD H1*/
    color:white;
    justify-content: flex-start;
    font-family: 'Lucida Sans','Lucida Sans Regular';
    margin-bottom: -15px;
    font-size: 25px;
}
#user { /* INPUT*/
    border-radius: 12px;
    border-style: solid ;
    font-size:medium;
    padding-bottom: 2px;
}
#password{ /* INPUT*/
    border-radius: 12px;
    border-style: solid;
    font-size: medium;
    padding-bottom: 2px;
}
#imgUsuario {

    width: 50px;
}